---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stunnel

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: stunnel
